DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
SECRET_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_URI=

DJANGO_ALLOWED_HOSTS=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


DJANGO_CORS_ALLOWED_ORIGINS=

